<html>
  <head>
    <title>Later</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <h><%= article.title %></h>
      <p><%= article.content %></p>
    </div>
  </body>
</html>
